.cart-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.cart-items {
    width: 60%;
}

.cart-items h2 {
    padding: 20px 0;
    text-align: right;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
    font-size: 20px;
}

.cart-items h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
    font-size: 20px;
}

.empty-cart-wrapper {
    padding-top: 200px;
    padding-left: 80px;
    min-height: 100vh;
    background: url('../../assets/empty-cart-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.empty-cart-wrapper h2 {
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(234, 8, 8);
}

/* CART ITEMS */
.cart-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(186, 181, 181);
    opacity: 0.9;
}

.cart-item-img {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
}

.cart-img {
    width: 60px;
    text-align: center;
}

.cart-item-img img {
    max-height: 70px;
    max-width: 100px;
}

.amount-wrapper-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.amount-wrapper {
    border: 1px solid rgb(186, 181, 181);
    width: fit-content;
    padding: 3px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    line-height: 14px;
}

.amount-wrapper span {
    padding: 3px 7px;
    cursor: pointer;
}

.cart-price-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.trash-icon {
    color: rgb(234, 8, 8);
    font-size: 25px;
}
.trash-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.cart-btn {
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border: 2px solid rgb(234, 8, 8);
    color: rgb(234, 8, 8);
    margin-right: 10px;
    border-radius: 8px;
}

.cart-btn:hover {
    background-color: pink;
}

/* CART FORM */
.cart-form-wrapper {
    width: 30%;
    height: fit-content;
    padding-bottom: 30px;
    margin-top: 25px;
    box-shadow: 0 1px 10px 3px rgb(208, 205, 205);
    border-radius: 5px;
}

.cart-form-wrapper h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: white;
    background: pink;
    line-height: 1;
    width: fit-content;
    padding: 11px 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: -25px;
}

.cart-form {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.cart-form input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(180, 179, 179);
}

.cart-form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cart-form-btn {
    margin-top: 20px;
    width: 100%;
    padding: 15px 25px;
    background-color: rgb(234, 8, 8);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.cart-form-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.success-message {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    padding: 20px 30px;
    position: fixed;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 10px 3px rgb(208, 205, 205);
}

.success-message button {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(19, 172, 54);
    border: none;
    border-radius: 8px;
    color: white;
}

.success-message button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 380px) {
    .amount-wrapper-div {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1100px) {
    .empty-cart-wrapper {
        padding-top: 100px;
        padding-left: 20px;
    }
    
    .empty-cart-wrapper h2 {
        font-size: 30px;
    }

    .cart-wrapper {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }

    .cart-items {
        width: 100%;
    }

    .cart-items h2 {
        text-align: left;
    }

    .cart-btn:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .cart-form-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
    
}