.products-item-wrapper {
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    box-shadow: 5px 4px 12px #0707072b;
    transition: ease-in-out .3s;
    display: flex;
    flex-direction: column;
}

.products-item-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 5px 4px 12px #07070755;
}

.products-img-wrapper {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-img-wrapper img {
    max-width: 100%;
    display: block;
    max-height: 250px;
}

.products-description p {
    margin-bottom: 10px;
    color: rgb(139, 129, 129);
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}