.home-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    min-height: 90vh;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 239, 241);
    padding: 20px 50px;
}

.shop-banner {
    width: 50%;
}

.shop-banner img {
    width: 80%;
    max-width: 100%;
}

.banner-text {
    width: 50%;
    text-align: right;
}

.banner-text h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgb(239, 54, 54);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;

}

.banner-text h1 span {
    color: rgb(234, 8, 8);
    font-size: 60px;
}

/* SLIDER */
.slider-wrapper {
    padding: 40px 25px;
}

.slider-wrapper h2 {
    text-align: center;
    padding-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(69, 69, 69);
}

.slider-item-wrapper {
    text-align: center;
    text-decoration: none;
}

.slider-img-wrapper {
    width: 180px;
    max-width: 200px;
    height: 200px;
    max-height: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img-wrapper img {
    max-width: 180px;
    max-height: 200px;
    padding: 10px;
}

.slick-slide > div {
    margin: 10px;
    box-shadow: 5px 4px 12px #0707072b;
    height: 300px;
    width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    transition: ease-in-out .3s;
    border-radius: 10px;
    position: relative;
}

.slick-slide > div:hover {
    transform: scale(1.03);
    box-shadow: 5px 4px 12px #07070755;
    cursor: pointer;
}

.slick-slide > div:hover img {
    opacity: 0.5;
}

.view-more {
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: pink;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slick-slide > div:hover .view-more {
    display: block;
    opacity: 1;
}

.slick-arrow {
    margin: 5px!important;
    color: black!important;
}

.slick-arrow:hover {
    color: black!important;
}

/* NEWSLETTER */
.news-section-wrapper {
    background-color: rgb(255, 239, 241);
    padding: 100px 20px;
    margin-top: 20px;
}

.news-img {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-img img {
    width: 80px;
    height: 80px;
}

.news-section {
    width: fit-content;
    margin: 0 auto;
    padding: 50px 40px;
    text-align: center;
    border: 2px solid rgb(234, 8, 8);
    border-radius: 8px;
    box-shadow: 5px 4px 12px #07070755;
    position: relative;
}

.news-section h2 {
    color: rgb(234, 8, 8);
    font-size: 40px;
}

.news-section p {
    padding: 10px 0;
    color: rgb(69, 69, 69);
    font-size: 18px;
}

.news-form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.news-form input {
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid rgb(255, 190, 190);
}

.news-form button {
    padding: 8px;
    cursor: pointer;
    border: 2px solid rgb(234, 8, 8);
    color: rgb(234, 8, 8);
    font-weight: bold;
    background-color: rgb(255, 239, 241);
}

.news-form button:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 650px) {
    .main-header {
        flex-direction: column;
        padding: 20px;
    }
    
    .shop-banner {
        width: 80%;
    }
    
    .shop-banner img {
        width: 100%;
    }
    
    .banner-text {
        width: 100%;
        text-align: center;
    }
    
    .banner-text h1 {
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .banner-text h1 span {
        font-size: 50px;
    }

    .news-form {
        flex-wrap: wrap;
    }

    .news-section {
        padding: 50px 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .home-wrapper{
        width: 100%;
    }
}