.home-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.special-offer {
    height: 100vh;
    width: 60%;
}

.special-offer img {
    width: 100%;
    height: 100vh;
}

.main-product-wrapper {
    width: 40%;
    height: 100vh;
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(255, 234, 237);
}

.main-product-wrapper h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    color: rgb(234, 8, 8);
    font-size: 50px;
}

.main-product-wrapper button {
    margin-top: 40px;
    margin-right: 10px;
}

.main-product {
    margin: 0 auto;
    background-color: white;
    width: 80%;
    padding: 20px;
    box-shadow: 0 1px 12px 10px rgba(239, 216, 216, 0.5);
    transition: transform 0.3s ease;
}

.main-product:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-product img {
    width: 90%;
    margin-bottom: 10px;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 20px;
}

.new-price {
    color: rgb(234, 8, 8);
    font-size: 35px;
    font-weight: bold;
    padding-left: 10px;
}

@media only screen and (max-width:950px) {
    .home-wrapper {
        height: auto;
        flex-direction: column;
    }

    .special-offer {
        height: auto;
        width: 100%;
    }
    
    .special-offer img {
        width: 100%;
        height: auto;
    }

    .main-product-wrapper {
        width: 100%;
        height: auto;
        padding: 50px 20px;
    }
    
    .main-product-wrapper h1 {
        font-size: 40px;
    }
}