.home-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    min-height: 90vh;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 239, 241);
    padding: 20px 50px;
}

.shop-banner {
    width: 50%;
}

.shop-banner img {
    width: 80%;
    max-width: 100%;
}

.banner-text {
    width: 50%;
    text-align: right;
}

.banner-text h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgb(239, 54, 54);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;

}

.banner-text h1 span {
    color: rgb(234, 8, 8);
    font-size: 60px;
}

/* SLIDER */
.slider-wrapper {
    padding: 40px 25px;
}

.slider-wrapper h2 {
    text-align: center;
    padding-bottom: 30px;
}

.slider-item-wrapper {
    text-align: center;
    text-decoration: none;
}

.slider-item-wrapper p {
    margin-top: 10px;
    padding: 3px 5px;
    background-color: pink;
    color: white;
    font-weight: bold;
}

.slider-img-wrapper {
    width: 180px;
    max-width: 200px;
    height: 200px;
    max-height: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img-wrapper img {
    max-width: 180px;
    max-height: 200px;
    padding: 10px;
}

.slick-slide > div {
    margin: 10px;
    box-shadow: 5px 4px 12px #0707072b;
    height: 300px;
    width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

@media only screen and (max-width: 650px) {
    .main-header {
        flex-direction: column;
        padding: 20px;
    }
    
    .shop-banner {
        width: 80%;
    }
    
    .shop-banner img {
        width: 100%;
    }
    
    .banner-text {
        width: 100%;
        text-align: center;
    }
    
    .banner-text h1 {
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .banner-text h1 span {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .home-wrapper{
        width: 100%;
    }
}