.products-categories-wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    gap: 10px;
}

.products-categories {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-category {
    padding: 8px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(236, 232, 232);
}

.btn-category:hover {
    background-color: black;
    color: white;
}

.btn-sort {
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: white;
}

.active {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1100px) {
    .products-categories-wrapper {
        height: auto;
        padding: 10px 20px;
        flex-wrap: wrap;
        position: static;
    }

    .products-categories {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
    .products-categories-wrapper {
        padding: 10px 60px;
    }
}

@media only screen and (min-width: 1250px) {
    .products-categories-wrapper {
        padding: 10px 70px;
    }
}