.single-product-wrapper {
    width: 70%;
    min-height: 90vh;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single-product-img {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.single-product-img img {
    max-width: 70%;
    max-height: 400px;
}

.single-product-info {
    width: 50%;
}

.single-product-info h2 {
    font-size: 30px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.single-product-description {
    opacity: 0.8;
    margin-bottom: 50px;
}

.single-product-info button {
    margin-right: 20px;
}

.back-btn {
    background-color: white;
    border: 2px solid rgb(234, 8, 8);
    color: rgb(234, 8, 8);
    margin-right: 0;
}

.single-product-price {
    font-size: 25px;
    margin: 20px 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.9;
}

@media only screen and (max-width: 900px) {
    .single-product-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .single-product-img {
        width: 60%;
    }
    
    .single-product-info {
        padding: 0 20px;
        width: 100%;
    }
    .back-btn {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .single-product-wrapper {
        width: 80%;
    }

    .single-product-img {
        width: 60%;
    }
    
    .single-product-info {
        padding: 0 20px;
        width: 80%;
    }
}