@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    font-size: 25px;
}

.navbar-wrapper h2:hover {
    cursor: pointer;
}

.logo-shop {
    color: rgb(250, 164, 170);
}

.logo {
    font-family: "Allura", cursive;
    font-weight: 600;
    font-style: normal;
    color: rgb(234, 8, 8);
}

.navbar-cart-wrapper {
    position: relative;
    padding-top: 5px;
}

.navbar-cart-icon {
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}

.navbar-cart-number {
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 2px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
}

@media only screen and (max-width: 1100px) {
    .navbar-wrapper {
        width: 100%;
        padding: 10px 20px;
        font-size: 20px;
    }
}