* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-red {
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: none;
    background: linear-gradient(to right, red, pink);
}

.button-red:hover {
    background: linear-gradient(to left, red, pink);
}

button {
    border-radius: 8px !important;
}

.button {
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: none;
    background-color: rgb(234, 8, 8);
    text-transform: uppercase;
}

.button:hover {
    opacity: 0.7;
}